*.ipynb
# Ignore everything
*

# But not .gitignore
!.gitignore

# Allow Python files
!*.py

# Allow subdirectories (so Python files inside them are not blocked)
!*/

.ipynb_checkpoints/
.ipynb_checkpoints/** 



